
body{
  background-color: black;
}

  .left{
    float: left;
    width: 30%;
  }
  .pri{
        margin: 0 auto;
        padding-top: 10%;
        float: inline-start;
        
  }
  .bb{
    margin-left: 40%;

  }
  .aa{
    
    margin-top: 7%;
    margin-left: 16%;
    border: 5px solid;
    width: 39%;
    border-radius: 15px;
  }
  .dd{
    margin-left: 65%;
    margin-top: 1%;
    position: fixed;
  }
  .cc{
    color: white;
    margin-left: 65%;
    margin-top: -20%;
  }
  